@media screen and (max-width: 820px){
    .form{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
    }
    .progress-bar ul li{
        font-size: 10px;
    }
    .heading{
        margin: 10px 10px;
    }
    .header{
        margin-top: 0;

    }
    .h-help-text{
        margin-top: 5px;
    }

}