@media screen and (max-width: 767px){
    .form{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
    }
    .progress-bar ul li{
        font-size: .7em;
    }
    .heading{
        margin: 10px 10px;
    }
    .header{
        margin-top: 0;

    }
    .h-help-text{
        margin-top: 5px;
    }
    .threeOrLess{
        display: flex;
        flex-direction: column;
    }
    .multi-question{
        display: flex;
    }

}