* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}
/*
Colors:
#94a187
#ffff
#f5e2c8
#d6cfcf
#54595f
#0f7235
Text:
'Libre Franklin', sans-serif;
*/
body{
    display: flex;
    justify-content: center;
    background-color: #94a187;
}

.main {
    margin-top: 50px;
    width: 100%;max-width: 1600px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
}
/* Decorations for the nav/progress bar*/
.progress-bar{
    position: fixed;
    width: 100%;
    max-width: 1600px;
    top: 0;
    z-index: 1000;
    padding: 7px 0;
    background-color: #94a187;
}
.progress-bar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.progress-bar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 2px;
    width: 16.1%;
    height: 30px;
    font-size: 1em;
    border-radius: 2px;
    background-color: #d6cfcf;
    box-shadow: .5px .5px 2px 1.2px rgb(100,100,100);
    text-shadow:  0px 1px 2px #54595f;
}
/*define the form layout which is two colums*/
.form{
    display: grid;
    grid-template-columns: 30% 1fr;
    position: relative;
    flex-wrap: wrap;
}
/*styles for the two section with in the form*/
.heading {
    max-width: 75%;
    margin: 30px 20px 0 45px;
}
.sub-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px #54595f;
    z-index: 1;
    min-width: 90%;
    max-width: 1400px;
    flex: 1;
}


/*styles for the heading and description area*/
.header{
   font-size: 1.6em;
   text-shadow:  3px 1px 5px #54595f;
   align-self: center;
   text-align: center;
   margin-top: 40px;
}
.h-help-text{
    font-size: 1em;
    color: #54595f;
    text-align: center;
    margin-top: 30px;
}
.targetEl {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding-top: 10px;
    background-color: #94a187;
}
/*General Styling for questions and help text*/
label{
    margin: 0 5px;
    font-size: .9em;
}
input{
    margin: 5px 5px 0;
}
input[type="radio"]:hover, input[type="checkbox"]:hover{
    cursor: pointer;
}
.question{
    background-color: #f5e2c8;
    padding: 5px 0;
    min-width: 90%;
}
.questions{
    background-color: #f5e2c8;
    margin: 5px;
    border-radius: 2px;
    padding: 5px 10px;
    text-indent: -.3em;
    border: none;
    box-shadow: 0px 0px 2px 1px #54595f;
    width: 95%;
}
.questions:hover {
    box-shadow: 0px 0px 2px 0px #54595f;
}
.multi-question{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;}
.multi-question .questions{
    margin-right: 30px;
}
/*Styling for radio buttions of checks questions*/
.questions ul{
    list-style: none;
    width: 100%;
}
.questions li{
    min-width: 200px ;
    font-size: .8em;
    margin:2px 0;
}
.threeOrLess{
    display: flex;
    flex-wrap: wrap;
}
.threeOrLess li{
    min-width: 160px;
    max-width: 250px;
}
/*styling for questions with help text*/
.q-help-text{
    margin: 0 10px;
    font-size: .6em;
    color: #54595f;
}
.q-w-help{
  display: flex;
  flex-wrap: wrap;
}
.label{
    min-width: 3em;
    padding-right: .3em;
    text-indent: -.3em;
}
/*styles for buttons*/
button{
    width: 120px;
    height: 20px;
    font-size: .6em;
}
.move{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btn{
    margin: 0 30px;
    background-color: #0f7235;
    color: #ffff;
}
.btn:hover{
    border: none;
}
.btn,button,a:hover{
    cursor: pointer;
}
#addEBtn{
    margin-right: 5px;
    display: block;
    position: absolute;
    bottom: .4em;
    right: .5em;
    box-shadow: .2em .3em .2em #54595f;

}
#addEBtn:hover{
    box-shadow: none;
}
/*styles for the Demograpic questions*/
#demographics{
    visibility: visible;
}
#medical{
    display: none;
}
#preventative{
    display: none;
}
#social{
    display: none;
}
#screening{
    display: none;
}
#agreements{
    display: none;
}